[Unit]
Description=Shekel Telegram Bot
After=network.target

[Service]
# Modify User and paths as needed
User=pi401
WorkingDirectory=/home/pi/shekelbot
ExecStart=/home/pi/shekelbot/venv/bin/python main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
